<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Huella de Carbono</title>

    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" href="../static/vendor/fontawesome-free/css/all.min.css">
    
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
        <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" href="../static/css/sb-admin-2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="OrgRecomendaciones.html">
                
                <div class="sidebar-brand-text mx-3">Huella de Carbono</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="recomendaciones">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Recomendaciones</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    </svg>
                    <span>Datos de la organizacion</span>
                </a>
                <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/organizacion/datosInternos">Datos internos</a>
                        <a class="collapse-item" href="/organizacion/areas">Areas</a>
                        <a class="collapse-item" href="/organizacion/miembros">Miembros</a>
                        <a class="collapse-item" href="/organizacion/contactos">Contactos</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-calculator-fill" viewBox="0 0 16 16">
                        <path
                            d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm2 .5v2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-7a.5.5 0 0 0-.5.5zm0 4v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zM4.5 9a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM4 12.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zM7.5 6a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM7 9.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm.5 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM10 6.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm.5 2.5a.5.5 0 0 0-.5.5v4a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 0-.5-.5h-1z" />
                    </svg>
                    <span>Cálculo de huella</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/organizacion/datosDeActividad">Datos de actividad</a>
                        <a class="collapse-item" href="/organizacion/recorridos">Recorridos</a>
                        <a class="collapse-item" href="/organizacion/reportes">Reportes</a>
                        <a class="collapse-item" href="/organizacion/calcularHuella">Calcular huella</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <div style="display:flex; justify-content: center;align-items: center">
                        <h2 style="margin: 0 auto;">Datos internos</h2>
                    </div>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Tesla</span>
                                
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/login">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cerrar sesión
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="card o-hidden border-0 shadow-lg col-lg-6" style="margin: 0 auto">
                        <div class="card-body">
                            <form action="" href="">
                                <label for="nombre">nombre</label>
                                <input v-model="nombreSelect" type="text" name="" id="nombre" class="form-control form-control-user">
                                <br>
                                <label for="razon-social">Razón Social</label>
                                <input v-model="razonSocialSelect" type="text" name="" id="razon-social" class="form-control form-control-user">
                                <br>
                                <label for="tipo">Tipo de organizacion</label>
                                <select v-model="tipoSelect" name="" id="tipo"
                                    class="custom-select custom-select-sm form-control form-control-sm form-control-user">
                                    <option value="" disabled selected>{{tipoSelect}}</option>
                                    <option value="Gubernamental">Gubernamental</option>
                                    <option value="ONG">ONG</option>
                                    <option value="Empresa">Empresa</option>
                                    <option value="Instittución">Instittución</option>
                                </select>
                                <br><br>
                                <label for="clasificacion">Clasificación</label>
                                <select v-model="clasificacionSelect" name="" id="clasificacion"
                                    class="custom-select custom-select-sm form-control form-control-sm form-control-user">
                                    <option value="" disabled selected>{{clasificacionSelect}}</option>
                                    <option value="MINISTERIO">Ministerio</option>
                                    <option value="UNIVERSIDAD">Universidad</option>
                                    <option value="ESCUELA">Escuela</option>
                                    <option value="EMPRESA_SECTOR_PRIMARIO">Empresa de sector primario</option>
                                    <option value="EMPRESA_SECTOR_SECUNDARIO">Empresa de sector secundario</option>
                                </select>
                                <br><br>
                                <div class="card">
                                    <div class="card-header">
                                        Ubicación
                                    </div>
                                    <div class="card-body">
                                        <div>
                                            <label for="">País</label>
                                            <select v-model="paisSelect" id="" name="dataTable_length" aria-controls="dataTable"
                                                    class="custom-select custom-select-sm form-control form-control-sm form-control-user">
                                                <option v-for="pais in paises" @click="cargarProvincias(pais.id)" >{{pais.nombre}}</option>
                                            </select>
                                        </div>
                                        <div>
                                            <label for="">Provincia</label>
                                            <select v-model="provinciaSelect" id="" name="dataTable_length" aria-controls="dataTable"
                                                    class="custom-select custom-select-sm form-control form-control-sm form-control-user">
                                                <option v-for="provincia in provincias" @click="cargarMunicipios(provincia.id)" > {{provincia.nombre}}</option>
                                            </select>
                                        </div>
                                        <div>
                                            <label for="">Municipio</label>
                                            <select v-model="municipioSelect" id="" name="dataTable_length" aria-controls="dataTable"
                                                    class="custom-select custom-select-sm form-control form-control-sm form-control-user">
                                                <option v-for = "municipio in municipios" @click="cargarLocalidades(municipio.id)"> {{municipio.nombre}}</option>
                                            </select>
                                        </div>
                                        <div>
                                            <label for="">Localidad</label>
                                            <select v-model="localidadSelect" id="" name="dataTable_length" aria-controls="dataTable"
                                                    class="custom-select custom-select-sm form-control form-control-sm form-control-user">
                                                <option v-for = "localidad in localidades">{{localidad.nombre}}</option>
                                            </select>
                                        </div>
                                        <div>
                                            <label for="calle">Calle</label>
                                            <input v-model="calleSelect" type="text" name="" id="calle" class="form-control form-control-user">
                                        </div>
                                        <div>
                                            <label for="">Altura</label>
                                            <input v-model="alturaSelect" type="number" name="" id="" class="form-control form-control-user">
                                        </div>
                                        <br>
                                        <div style="text-align: center;">
                                            <button @click="actualizarDatos()" type="button" class="btn btn-primary">Guardar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>


                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
<script th:src="@{/vendor/jquery/jquery.min.js}" src="../static/vendor/jquery/jquery.min.js"></script>

<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}" src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}" src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}" src="../static/js/sb-admin-2.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>

<!-- App vue -->

<script>

    let app = new Vue({
        el: "#wrapper",
        data:{
            nombreSelect: null,
            razonSocialSelect: null,
            tipoSelect: null,
            clasificacionSelect: null,
            paisSelect: null,
            provinciaSelect: null,
            municipioSelect: null,
            localidadSelect: null,
            calleSelect: null,
            alturaSelect: null,
            paises: [],
            provincias: [],
            municipios: [],
            localidades: [],
            },
        methods: {
            cargarProvincias: function(idPais) {
                fetch('http://localhost:8080/ubicacion/provincias/'+idPais)
                    .then(response => response.json())
                    .then(data => {
                        this.provincias = data;
                    })
            },
            cargarMunicipios: function(idProvincia) {
                fetch('http://localhost:8080/ubicacion/municipios/'+idProvincia)
                    .then(response => response.json())
                    .then(data => {
                        this.municipios = data;
                    })
            },
            cargarLocalidades: function(localidadId) {
                fetch('http://localhost:8080/ubicacion/localidades/'+localidadId)
                    .then(response => response.json())
                    .then(data => {
                        this.localidades = data;
                    })
            },
            actualizarDatos: function() {
                let nuevosDatosOrga = {
                    idOrgaNuevo: 1,
                    nombreNuevo: this.nombreSelect,
                    razonSocialNuevo: this.razonSocialSelect,
                    tipoNuevo: this.tipoSelect,
                    clasificacionNuevo: this.clasificacionSelect,
                    paisNuevo: this.paisSelect,
                    provinciaNuevo: this.provinciaSelect,
                    municipioNuevo: this.municipioSelect,
                    localidadNuevo: this.localidadSelect,
                    calleNuevo: this.calleSelect,
                    alturaNuevo: this.alturaSelect
                }
                fetch('http://localhost:8080/organizaciones/editar/1', {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json;charset=utf-8'
                    },
                    body: JSON.stringify(nuevosDatosOrga)
                });
                alert("Datos actualizados.");

            }
        },
        created () {
            fetch('http://localhost:8080/organizaciones/1')
                .then(response => response.json())
                .then(data => {
                    this.nombreSelect = data.nombre;
                    this.razonSocialSelect = data.razonSocial;
                    this.tipoSelect = data.tipo;
                    this.clasificacionSelect = null;
                    this.paisSelect = data.pais;
                    this.provinciaSelect = data.provincia;
                    this.localidadSelect = data.localidad;
                    this.calleSelect = data.calle;
                    this.alturaSelect = data.altura;
                });
                fetch('http://localhost:8080/ubicacion/paises')
                    .then(response => response.json())
                    .then(data => {
                        this.paises = data;
                    })
            }
        })


</script>


</body>

</html>